
<div class="container-fluid p-0">
    <div class="jumbotron jumbotron-fluid d-flex align-items-center" style="background-image: url('/assets/inicio.jpg'); background-size: cover; height: 70vh;">
      <div class="container text-center text-white">
        <h1 class="display-4 fw-bold">Comparsa</h1>
        <p class="lead">Gestionar tus trajes, reservas y más.</p>
      </div>
    </div>
  
    <div class="container my-5">
      <div class="row text-center">
        <div class="col-md-6 mb-4">
          <i class="bi bi-box-seam fs-1 text-primary"></i>
          <h3 class="mt-3">Reservas</h3>
          <p>Gestiona y organiza tus reservas de forma sencilla y rápida.</p>
        </div>
        <div class="col-md-6 mb-4">
          <i class="bi bi-gear fs-1 text-primary"></i>
          <h3 class="mt-3">Trajes</h3>
          <p>Descubre nuestra selección de trajes y personalízalos a tu gusto.</p>
        </div>
      </div>
    </div>
  </div>
  