<div class="container-fluid p-0">
  <div class="jumbotron jumbotron-fluid d-flex align-items-start" style="background-image: url('/assets/inicio.jpg'); background-size: cover; height: 90vh;">
    <div class="container text-center pt-3" style="color: #792b0e;">
      <h1 class="display-4 fw-bold">LLAURADORS</h1>
      <p class="lead" >Gestiona tus trajes, reservas y más</p>
      <br>
        <a class="btn fs-1 arrow" href="#contenido" style="color: white;">
          <i class="bi bi-arrow-down"></i>
        </a>
    </div>
  </div>

  <div class="container my-5" style="color: #792b0e;">
    <h2 class="fw-bold text-center mb-4" id="contenido">Acerca de Nuestra Comparsa</h2>
    <p class="text-center">
      Somos un grupo de amigos apasionados por nuestras tradiciones, unidos por el amor a la música, el baile y la alegría de cada fiesta. 
      Nuestra comparsa nació de la necesidad de conservar y revivir el espíritu festivo, reuniéndonos durante unos días al año para celebrar 
      nuestras raíces y compartir momentos inolvidables.
    </p>
  </div>

  <div class="container my-5" style="color: #792b0e;">
    <h2 class="fw-bold text-center mb-4">Nuestra Web</h2>
    <p class="text-center">
      Esta plataforma ha sido creada por y para nuestra comparsa. Aquí podrás encontrar un espacio colaborativo para prestar y alquilar trajes 
      utilizados en nuestras festividades, permitiendo que cada miembro y simpatizante pueda acceder a ellos sin fines comerciales, sino con la 
      única intención de compartir y mantener viva nuestra tradición.
    </p>
  </div>
</div>
